<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
<style>
  body {margin:0;}
  ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
  }
 li {
   float: left;
  }
</style>
</head>
<body>
    <nav>
<ul class ="nav">
  <li>
    <a href="https://devincalligy.tech"> Home </a></li>
  <li>
    <a href="/resume.pdf"> Resume </a>
  </li>
  <li>
    <a href="posts.html"> Posts </a>
  </li>
  <li>
    <a href="https://github.com/devincalligy"> <i class="fab fa-github"></i> Github </a>
  </li>
  <li>
    <a href="https://twitter.com/devin_calligy"> <i class="fab fa-twitter"></i> Twitter </a>
  </li>
  <li>
    <a href="https://www.instagram.com/bobbyhillswag/"> <i class="fab fa-instagram"></i> Instagram </a>
  </li>
</ul>
    </nav>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>   
      </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
